*.swp
*.bak
*.bin
*.files
*.out
*.pyc
tags
*.scc
*.vim
*.viminfo
*~
*.git/*
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.ncb
*.user
*.suo
*.depend
*.layout
Debug/*
Release/*
obj/*
bin/*
*/Debug/*
*/Release/*
